body{
    background-color: white;
    
}
h2{
    color: white;
    font-size: 30px;
    margin-left: 2rem;
}
p{
    color: white;
    font-size: 20px;
    margin-left: 2rem;
}
.back-video{ 
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -100;
    min-width: 100%;
    min-height: 150vh;
    width: auto;
    height: auto;   
}

#container{
    width: 80%;
    height: 100%;
    margin-left: 5rem;
    background-color: white;
    box-shadow: 4px 10px rgba(0, 0, 0,0.5),
    0 -4px 10px rgba(0, 0, 0,0.5);
}
.img{
    background-image: url(cake\ 2.jpg);
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
button{
    border: none;
    padding: 1rem 2rem;
    border-radius:2REM;
    background-color: red;
    margin-bottom: 3rem;
}
#center{
    margin-left: 20rem;
}
br{

}
#black{
    color: black;
}